*
{
   box-sizing: border-box;
}

body{
    margin:0px;
}
.main-section
{
    background-color: #dddffd;
    height:170%;
    width:50vw;
    position: absolute;
    top: 0;
    left: 25%;
    border-radius: 20px;
}
header{
    display: flex;
    flex-direction: column;
    align-items : center;
}

#primary-name{
    font-family: "Protest Riot",sans-serif;
    font-weight: bolder;
    font-style:normal;
    margin-bottom: 6px;
    color:#ec154b;
    font-size:2rem;
}
.primary-tag{
    font-family: "Raleway",serif;
    font-optical-sizing:auto;
    font-weight: 100px;
    font-style:normal;
    margin:2px;
    color: #acffe5;
    font-size: 1em;
}
#primary-tag-links a{
    color: #474747;
}
.summary{
    margin: 10px;
}
.education{
    margin:10px;
}
.skill{
    margin:10px;
}
.lang{
    margin:10px;
}
.work{
    margin:10px;
}
.proj{
    margin:10px;
}
.declare{
    margin:10px;
}
.sign{
    margin:10px;
    position: relative;
    left: 620px;
}
.section-header{
    font-weight: bolder;
    margin:10px;
  background: rgb(169, 129, 234);
  padding: 5px;
}
.section-content{
    margin:10px;
}